.InfoBox {
  margin: 40vh auto;
  max-height: 7vh;
  justify-content: center;
  align-items: center;
}

.InfoText {
  font-size: 40px;
  color: #4169e1;
}

.Item {
  padding: 0px 40px;
  margin-block: 40px;
}

.Item li {
  list-style: none;
  height: 100%;
}

.ItemsRow {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
}

.HomeItem {
  background-color: red;
}

.Container {
  position: relative;
  justify-content: center;
}

.ItemContainer {
  position: relative;
  margin-top: 20px;
  padding: auto;
}

.AddressSearch {
  border-radius: 10px;
  max-width: 30%;
  margin: 20px auto;
  background: #fff;
}

.AddressSearchBar,
.AddressSearchBar:focus,
.AddressSearchBar:active,
.AddressSearchBar:focus-within {
  box-shadow: none !important;
  border: 0 !important;
  outline: none !important;
}

.AddressSearchBtn {
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(138, 228, 3);
}

.AddressSearchBtn:hover {
  transform: scale(1.03);
  background-color: greenyellow;
}

@media (max-width: 1300px) {
  .ItemsRow {
    grid-template-columns: repeat(2, 1fr);
  }
}
