.Container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.ItemContainer {
  position: relative;
  margin-top: 20px;
  padding: auto;
}

.Modal {
  margin: 10px auto;
}

.Item {
  margin-block: 40px;
}

.ItemsRow {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}
.AddressSearchBox {
  min-width: 500px;
  max-width: 500px;
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.AddressSearchBar {
  position: relative;
  border-radius: 20px;
}

.AddressSearchBtn {
  position: absolute;
  left: 1110px;
  padding: 5px 15px;
  border-radius: 20px;
}

.AddressSearchBtn:hover {
  transform: scale(1.03, 1.05);
  background-color: greenyellow;
}

.LoadingMessage,
.InfoText {
  color: #fff;
}

.InfoBox {
  margin: 40vh auto;
  max-height: 7vh;
  justify-content: center;
  align-items: center;
}

.InfoText {
  font-size: 40px;
  color: #4169e1;
}

.modalOverlay {
  z-index: 9999;
  width: 182vh;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .ItemsRow {
    grid-template-columns: repeat(2, 1fr);
  }
}
