.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Home__Body {
  padding: 30px 800px;
}

.Body {
  display: flex;
  flex-direction:column;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

/*************************/

.CollectionCreate {
  max-width: 20%;
  margin: 0 auto;
  padding-top: 30px;
}

.CollectionData {
  margin: 10px auto;
}

.CollectionMintBtn {
  max-width: 100%;
  padding: 20px 70px auto;
}

.CollectionMintBtn {
  padding: 10px 175px;
  font-size:  20px;
}

/*************************/

.CreateNFT {
  max-width: 10%;
  margin: 0 auto;
  padding-top: 30px;
}

.CreateNFTFile {
  margin: 20px auto;
}

.CreateNFTMintBtn {
  padding: 10px 70px;
}

.CollectionBtn {
  padding: 10px 80px;
  margin: 10px auto;
  font-size:  20px;
}

/*************************/

.address__search__bar {
  display: flex;
  width: 100%;
  border-radius: 20px;
  position: relative;
  align-items: center;
}

.address__search__btn {
  border-radius: 20px;
  padding: 5px 10px;
  margin: -43px 250px;
  transition: 0.2s;
  position: absolute;
}

.address__search__btn:hover {
  transform: scale(1.03,1.05);
  background-color: greenyellow;
}

.Container {
  display: flex;
  flex-direction: row;
  margin:10px;
  justify-content:space-evenly;
}

.Navibar {
  border-radius: 20px;
}

.Loader {
  color: royalblue;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
